.App {
  font-family: sans-serif;
  text-align: center;
}
body,
html {
  margin: 0;
  padding: 0;
}

table {
  border: solid 1px black;
  padding: 1px;
  margin: auto;
}

td,
th {
  border: solid 1px gray;
  padding: 0.3rem;
  margin: 10px;
  height: 50px;
  width: 120px;
}
